# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env

# Local dataset
data/raw/*.csv

# Temporary files
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/